<h1>Hello Angular</h1>

<div>
    <button ng-click="$ctrl.dec()">Dec</button>
    <span>{{$ctrl.counter}}</span>
    <button ng-click="$ctrl.inc()">Inc</button>
</div>

<h2>Selected contact is: <span>{{$ctrl.selectedContact.name}}</span></h2>

<div>
    <md-autocomplete
            md-selected-item="$ctrl.selectedContact"
            md-no-cache="$ctrl.noCache"
            md-search-text="$ctrl.searchText"
            md-items="contact in $ctrl.querySearch($ctrl.searchText)"
            md-item-text="contact.name"
            md-min-length="0"
            placeholder="Select contact?">
        <md-item-template>
            <span>{{contact.name}}</span>
        </md-item-template>
        <md-not-found>
            No contact found.
        </md-not-found>
    </md-autocomplete>
</div>

<div>
    <input ng-model="$ctrl.userData">
    <button ng-click="$ctrl.send()">Send</button>
</div>
